




body {
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("/static/image/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
  }



@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
    margin-left: auto;  
    margin-right: auto;
    margin-top: 10px;
    animation: fade-in 0.5s;
    padding-top: 10px;
}

.logo{
    font-size: 22px;
    font-weight: 1500;
    color: rgba(0, 0, 0, 0.75);
}

.links{
    list-style: none;  /* remove bullet points */
    display: flex;
}

.link{
    text-decoration: none;   /* remove underline of anchor tag*/
    color: rgba(53, 53, 53, 0.75);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s;
}

.link:hover{
    color: rgb(65, 26, 195);

}
.link-item{
    margin-right: 25px;
}


/* MAIN */

.main{
    text-align: center;
    margin-top: 200px;
    animation:fade-in 0.5s 0.1s backwards;
    
}

.heading{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    color: #000000;
    
}

.text{
    font-size: 24px;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    line-height: 1.4; 
    color: #191919  
}
.text--bold{
    font-weight: 700;
    
}

.form{
    margin-top: 50px;
}

.input{
    width: 550px;
    height: 64px;
    border: none;
    padding:0;
    border-radius: 20px;
    opacity: 0.8;
    padding-left: 20px;
    font-size: 20px;
    font: inherit;
    outline:none ;
    transition: all 0.5s;
}
.input:focus {
    opacity: 1;
}
.input::placeholder {
    color: #000000;
}
.btn{
    border: none;
    padding: 0;
    background-color: #414eb0;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.4s;
}

.btn:hover {
    cursor: pointer;
    background-color: #0b0032;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    font-size: 12px;
    padding-bottom: 15px;
    border-top: 1px solid rgb(141, 165, 212);
    padding-top: 10px;
    color: rgba(42, 42, 42, 0.75);
    animation: fade-in 0.5s 0.2s backwards;

}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
        align-items: flex-start;
    }

    .header {
        flex-direction: column;
        gap: 12px;
        margin-top: 16px;
        width: 90%;
    }

    .links {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
        gap: 8px 16px;
    }

    .link-item {
        margin-right: 0;
    }

    .main {
        margin-top: 56px;
    }

    .heading {
        font-size: 30px;
        line-height: 1.2;
    }

    .text {
        font-size: 18px;
        line-height: 1.5;
    }

    .footer {
        margin-top: 56px;
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        text-align: center;
    }

    .btn {
        width: 120px;
        height: 44px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }

    .link {
        font-size: 16px;
    }

    .heading {
        font-size: 26px;
    }

    .text {
        font-size: 16px;
    }
}


/* .copyright {
     color: rgba(207, 200, 255, 0.8);
} */